<div id="<%= dom_id message %>">
  <p>
    <strong>Text:</strong>
    <%= message.text %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= message.name %>
  </p>

  <p>
    <% if message.picture.attached? %>
      <%= image_tag url_for(message.picture) %>
    <% end %>
  </p>

</div>
