  <div class="relative mt-2">
    <img class="w-full h-[800px] object-cover"
      <% if message.picture.attached? %>
        <%= image_tag(
          url_for(message.picture.variant(resize_to_fit: [1200, 1200]))
        ) %>
      <% else %>
        <%= image_tag "default.jpeg"%>
      <% end %>
    <div class="absolute bottom-0 w-full px-5 py-3 bg-black/40 text-center text-white"
      data-testid="message-name">
      <%= message.name %>
    </div>
<div class="absolute top-0 w-full px-5 py-3 bg-black/40 text-center text-white"
  data-testid="message-text"><%= message.text %>
</div>
