  <div class="relative">
      <% if message.picture.attached? %>
        <%= image_tag(
          url_for(message.picture.variant(resize_to_fit: [1200, 1200])),
          class: "w-full h-full object-cover max-h-screen"
        ) %>
      <% else %>
        <%= image_tag("default.jpg",
          class: "w-full h-full object-cover")%>
      <% end %>
    <div class="absolute bottom-0 w-full px-5 py-3 bg-black/40 text-left uppercase text-white font-serif"
      data-testid="message-name">
      from <%= message.name %>
    </div>
<div class="absolute top-0 break-words w-full px-5 py-3 bg-black/40 text-center text-white italic"
  data-testid="message-text">"<%= message.text %>"
</div>
