<p style="color: green" data-testid="notification"><%= notice %></p>

<%= render @message %>

<div>
  <%= link_to "Edit this message", edit_message_path(@message) %> |
  <%= link_to "Back", root_path, data: { testid: "back" } %>
</div>
