
<% unless @pause %>
  <% content_for :head do %>
    <meta http-equiv="refresh" content="<%= @time %>;url=<%= @next_refresh_path %>" />
  <% end %>
<% end %>
<div class="absolute top-2 right-0 h-16 w-16">
  <%= link_to(
    "X",
    root_path,
    class: %w[
      bg-transparent
      hover:bg-gray-500
      text-gray-700
      font-semibold
      hover:text-white
      py-2
      px-4
      border
      border-gray-500
      hover:border-transparent
      rounded
    ]
  ) %>
</div>
<%= render @message %>
